* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

section {
    width: 100%;
    height: 100vh;
}

section nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
   background-color:rgba(255,255,255,0.1);
    right: 0;
    left: 0;
   
    box-shadow: 0 0 10px #7e6e47; 
    z-index: 1000;
    padding: 10px;
}

section nav .Logo img {
    width: 80px;
    cursor: pointer;
    margin: 5px 0;
}

section nav ul {
    list-style: none;
}

section nav ul li {
    display: inline-block;
    margin: 0 10px;
}

section nav ul li a {
    text-decoration: none;
    color: rgb(9, 33, 33);
    font-weight: 500;
    font-size: 25px;
    transition: 0.1s;
}

section nav ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background-color:red ;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after {
    width: 70px;
}

section nav ul li a:hover {
    color: red;
}

section nav .icon i {
    font-size: 25px;
    color: rgb(233, 100, 18);
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
}

section .main {
   
    background-image: url(bg1.jpg);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .main .men_text h1 { 
    font-size: 80px; 
    color: #c59314;
    position: relative;
    top: -70px;
    left: 20px;
    bottom: 50px;
}
section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 120px;
    bottom: 120px;
    line-height: 22px;
}



section .main-btn{
    background: #fac031;
    position: relative;
    left: 123px;
    bottom: 30px;
    width: 150px;
    top:-50px;
    cursor: pointer;
    padding: 12px 25px;
}

section .main-btn a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
}

section .main-btn i{
    color: #fff;
    transition: 0.3s;
}

section .main-btn:hover i{
    transform: translateX(7px);
}


/*About*/


.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
    background-image: url(bg1.jpg);
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .image img{
    width: 800px;
    height:500px;
    position: relative;
    top: 80px;
}


.about .about_main .about_text h1{
    font-size: 65px;
    color: #c59314;
    position: relative;
    bottom: 50px;
    
}

.about .about_main .about_text h3{
    font-size: 40px;
    color: #c59314;
    margin: 0 0 50px 0;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    margin-right: 80px;
    line-height: 22px;
}

.about .about_btn{
    background: #fac031;
    padding: 12px 25px;
    text-decoration: none;
    color: #fff;
    position: relative;
    left: 55%;
    bottom: 30px;
}


/*Menu*/

.menu{
    width: 100%;
    padding: 100px 0;
}

.menu h1{
    font-size: 75px;
    color: #c59314;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    top:50px;
}

.menu .menu_box {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 15px;
}

.menu .menu_box .menu_card {
    width: 100%; 
    max-width: 325px; 
    height: 480px;
    padding-top: 50px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu .menu_box .menu_card .menu_image {
    width: 100%; 
    max-width: 300px; 
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img {
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card {
    width: 45px;
    height: 45px;
    float: right;
    position: absolute; 
    top: 10px; 
    right: 20px;
    opacity: 0;
    border-radius: 7px;
    transition: opacity 0.3s, top 0.3s, right 0.3s; 
}

.menu .menu_box .menu_card:hover .small_card {
    opacity: 1;
    top: -240px;
    right: 20px;
    
}


.menu .menu_box {
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 15px;
}

.menu .menu_box .menu_card {
    width: 100%; 
    max-width: 325px; 
    height: 480px;
    padding-top: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu .menu_box .menu_card .menu_image {
    width: 100%; 
    max-width: 300px; 
    height: 245px;
    margin: 0 auto;
    overflow: hidden;
}

.menu .menu_box .menu_card .menu_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 0.3s;
}

.menu .menu_box .menu_card .menu_image:hover img {
    transform: scale(1.1);
}

.menu .menu_box .menu_card .small_card {
    width: 45px;
    height: 45px;
    float: right;
    position: absolute; 
    top: 10px; 
    right: 20px;
    opacity: 0;
    border-radius: 7px;
    transition: opacity 0.3s, top 0.3s, right 0.3s; 
}

.menu .menu_box .menu_card:hover .small_card {
    opacity: 1;
    top: -240px;
    right: 20px;
    
}
 
.menu .menu_box .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu .menu_box .menu_card .small_card i:hover{
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #fac031;
}

.menu .menu_box .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu .menu_box .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu .menu_box .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu .menu_box .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}




/*Review*/

.review{
    width: 100%;
    height: 100vh;
    padding: 100px 0;
    
    background-image: url(bg1.jpg);
}
.review h1{
    font-size: 55px;
    color: #c59314;
  

    display: flex;
    align-items: center;
    justify-content: center;
}
.review .review_box{
    width: 75%;
    margin: 50px auto;
    display: flex;
}
.review .review_box .review_card{
    width: 350px;
    height: 535px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    border-radius: 8px;
    padding: 8px 20px;
    margin: 0 8px;
}

.review .review_box .review_card .review_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.3s;
} 

.review .review_box .review_card:hover .review_profile{
    transform: translateY(-60px);
}

.review .review_box .review_card .review_profile img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: 5px solid #cccccc;
}

.review .review_box .review_card .review_text{
    text-align: center;
}

.review .review_box .review_card .review_text .name{
    color: #000;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .name{
    transform: translateY(-50px);
}

.review .review_box .review_card .review_text .review_icon{
    color: #fac031;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_icon{
    transform: translateY(-30px);
}

.review .review_box .review_card .review_text .review_social i{
    margin: 5px 1px;
    font-size: 15px;
    opacity: 0;
    cursor: pointer;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text .review_social i{
    opacity: 1;
    transform: translateY(-8px);
}

.review .review_box .review_card .review_text p{
    text-align: center;
    line-height: 22px;
    transition: 0.3s;
}

.review .review_box .review_card:hover .review_text p{
    margin-top: 5px;
}


/*order*/

.order {
    width: 100%;
    height: 100vh;
    padding: 90px 0;
    background-image: url('bg1.jpg');
    background-size: cover;
    background-position: center;
}

.order h1 {
    color: #c59314;
    font-size: 75px;
    top:50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order .order_main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(89, 20, 20); 
}

.order .order_main .order_image img {
    width: 600px;
    max-width: 100%; 
    height: auto;
}

.order .order_main form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px; 
}

.order .order_main form .input {
    margin: 8px 0;
}

.order .order_main form .input label {
    line-height: 35px;
    font-size: 20px;
    display: block;
    margin-bottom: 7px;
}

.order .order_main form .input input {
    width: 100%; 
    max-width: 300px; 
    height: 35px;
    padding: 0 10px;
    border: 2px solid #cccccc;
    background: #eeeeee;
    outline: none;
    border-radius: 3px;
}

.order .order_main form .input input:focus {
    border-color: #fac031;
}

.order .order_main form .order_btn {
    padding: 10px 0;
    background: #fac031;
    color: white;
    width: 40%;
    text-align: center;
    margin-top: 25px;
    border-radius: 5px; 
    cursor: pointer; 
    display: block; 
}

.order .order_main form .order_btn:hover {
    background: #e0a028; 
}

/*Team*/

.team{
    width: 100%;
    height: 120vh;
    background-image: url(bg1.jpg);
    background-size: cover;
    background-position: center;
}

.team h1{
    display: flex;
    color: #c59314;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    margin-bottom: 30px;
}




.team .team_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 13%;
}

.team .team_box .profile{
    width: 320px;
    height: 320px;
    border-radius: 50%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    transition: 0.4s;
}

.team .team_box .profile:hover{
    border-radius: 20px;
    height: 320px;
}

.team .team_box .profile img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    transition: 0.4s;
}

.team .team_box .profile:hover img{
    border-radius: 20px;
    margin-top: -230px;
}

.team .team_box .profile .info{
    position: absolute;
    text-align: center;
    top: 25%;
    transition: 0.4s;
}

.team .team_box .profile:hover .info{
    top: 60%;
}

.team .team_box .profile .info .name{
    color: #fac031;
    margin-bottom: 15px;
}

.team .team_box .profile .info .bio{
    width: 70%;
    text-align: center;
    margin: 0 auto 10px auto;
}

.team .team_box .profile .info .team_icon i{
    margin: 10px 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.team .team_box .profile .info .team_icon i:hover{
    color: #fac031;
}

/*Footer*/

footer{
    
    width: 100%;
    
    padding: 30px 0 0 20px;
    background: #bbae8b;
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #fac031;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

footer .end span{
    color: rgb(142, 37, 37);
    margin-left: 10px;
}

